In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\Nifras\Downloads\customer_shopping_behavior.csv")
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [4]:
x = df['Review Rating']
x.median()

3.8

In [5]:
df['Review Rating'] = df['Review Rating'].fillna(3.8)
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [6]:
df.columns = df.columns.str.replace(' ','_')
df.columns = df.columns.str.replace('  ','_')

In [7]:
df = df.rename(columns={'Purchase_Amount_(USD)':'Purchase_Amount'})

In [8]:
df.columns

Index(['Customer_ID', 'Age', 'Gender', 'Item_Purchased', 'Category',
       'Purchase_Amount', 'Location', 'Size', 'Color', 'Season',
       'Review_Rating', 'Subscription_Status', 'Shipping_Type',
       'Discount_Applied', 'Promo_Code_Used', 'Previous_Purchases',
       'Payment_Method', 'Frequency_of_Purchases'],
      dtype='object')

In [9]:
labels = ['Young Adult' , 'Adult' , 'Middle-Aged' , 'Senior']
df['Age_Group'] = pd.qcut(df['Age'], q = 4 ,labels = labels)

In [10]:
df[['Age' ,'Age_Group']].head(10)

   Age    Age_Group
0   55  Middle-Aged
1   19  Young Adult
2   50  Middle-Aged
3   21  Young Adult
4   45  Middle-Aged
5   46  Middle-Aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-Aged

In [11]:
Frequency_Mapping = {
    'Fortnightly' : 14,
    'Weekly' : 7,
    'Monthly' : 30,
    'Quarterly' : 90,
    'Bi-Weekly' :14,
    'Annually' : 365,
    'Every 3 Months' : 90
}

In [12]:
df['Purchase_Frequency_days'] = df['Frequency_of_Purchases'].map(Frequency_Mapping)

In [13]:
df[['Frequency_of_Purchases' , 'Purchase_Frequency_days']].head(10)

  Frequency_of_Purchases  Purchase_Frequency_days
0            Fortnightly                       14
1            Fortnightly                       14
2                 Weekly                        7
3                 Weekly                        7
4               Annually                      365
5                 Weekly                        7
6              Quarterly                       90
7                 Weekly                        7
8               Annually                      365
9              Quarterly                       90

In [14]:
df[['Discount_Applied', 'Promo_Code_Used']].head(10)

  Discount_Applied Promo_Code_Used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [15]:
(df['Discount_Applied'] == df['Promo_Code_Used']).all()

np.True_

In [16]:
df = df.drop('Promo_Code_Used' , axis = 1)

In [17]:
df.columns

Index(['Customer_ID', 'Age', 'Gender', 'Item_Purchased', 'Category',
       'Purchase_Amount', 'Location', 'Size', 'Color', 'Season',
       'Review_Rating', 'Subscription_Status', 'Shipping_Type',
       'Discount_Applied', 'Previous_Purchases', 'Payment_Method',
       'Frequency_of_Purchases', 'Age_Group', 'Purchase_Frequency_days'],
      dtype='object')

In [19]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\nifras\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\nifras\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\nifras\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)
Note: you may need to restart the kernel to use updated packages.

In [36]:
from sqlalchemy import create_engine
connection_string = "mysql+mysqlconnector://root:Nifras@localhost:3306/customer_behavior"
engine = create_engine(connection_string, echo=True)


table_name = 'customer'
df.to_sql(table_name,engine, if_exists = 'replace' ,index = False)
print(f"Data Successfully loaded into table'{table_name}' in database'{database}'.")

2025-11-30 13:19:51,959 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-11-30 13:19:51,961 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-11-30 13:19:51,966 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-11-30 13:19:51,967 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-11-30 13:19:51,970 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-11-30 13:19:51,971 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-11-30 13:19:51,977 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-11-30 13:19:51,987 INFO sqlalchemy.engine.Engine DESCRIBE `customer_behavior`.`customer`
2025-11-30 13:19:51,989 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-11-30 13:19:51,999 INFO sqlalchemy.engine.Engine
CREATE TABLE customer (
	`Customer_ID` BIGINT,
	`Age` BIGINT,
	`Gender` TEXT,
	`Item_Purchased` TEXT,
	`Category` TEXT,
	`Purchase_Amount` BIGINT,
	`Location` TEXT,
	`Size` TEXT,
	`Color` TEXT,
	`Season` TEXT,
	`Review_Rating` FLOAT(53),
	`Subscription_Status` TEXT,
	`Shipping_Type` TEXT,
	`Discount_Applied` TEXT,
	`Previous_Purchases` BIGINT,
	`Payment_Method` TEXT,
	`Frequency_of_Purchases` TEXT,
	`Age_Group` TEXT,
	`Purchase_Frequency_days` BIGINT
)


2025-11-30 13:19:52,001 INFO sqlalchemy.engine.Engine [no key 0.00217s] {}
2025-11-30 13:19:52,160 INFO sqlalchemy.engine.Engine INSERT INTO customer (`Customer_ID`, `Age`, `Gender`, `Item_Purchased`, `Category`, `Purchase_Amount`, `Location`, `Size`, `Color`, `Season`, `Review_Rating`, `Subscription_Status`, `Shipping_Type`, `Discount_Applied`, `Previous_Purchases`, `Payment_Method`, `Frequency_of_Purchases`, `Age_Group`, `Purchase_Frequency_days`) VALUES (%(Customer_ID)s, %(Age)s, %(Gender)s, %(Item_Purchased)s, %(Category)s, %(Purchase_Amount)s, %(Location)s, %(Size)s, %(Color)s, %(Season)s, %(Review_Rating)s, %(Subscription_Status)s, %(Shipping_Type)s, %(Discount_Applied)s, %(Previous_Purchases)s, %(Payment_Method)s, %(Frequency_of_Purchases)s, %(Age_Group)s, %(Purchase_Frequency_days)s)
2025-11-30 13:19:52,162 INFO sqlalchemy.engine.Engine [generated in 0.07405s] [{'Customer_ID': 1, 'Age': 55, 'Gender': 'Male', 'Item_Purchased': 'Blouse', 'Category': 'Clothing', 'Purchase_Amount': 53, 'Location': 'Kentucky', 'Size': 'L', 'Color': 'Gray', 'Season': 'Winter', 'Review_Rating': 3.1, 'Subscription_Status': 'Yes', 'Shipping_Type': 'Express', 'Discount_Applied': 'Yes', 'Previous_Purchases': 14, 'Payment_Method': 'Venmo', 'Frequency_of_Purchases': 'Fortnightly', 'Age_Group': 'Middle-Aged', 'Purchase_Frequency_days': 14}, {'Customer_ID': 2, 'Age': 19, 'Gender': 'Male', 'Item_Purchased': 'Sweater', 'Category': 'Clothing', 'Purchase_Amount': 64, 'Location': 'Maine', 'Size': 'L', 'Color': 'Maroon', 'Season': 'Winter', 'Review_Rating': 3.1, 'Subscription_Status': 'Yes', 'Shipping_Type': 'Express', 'Discount_Applied': 'Yes', 'Previous_Purchases': 2, 'Payment_Method': 'Cash', 'Frequency_of_Purchases': 'Fortnightly', 'Age_Group': 'Young Adult', 'Purchase_Frequency_days': 14}, {'Customer_ID': 3, 'Age': 50, 'Gender': 'Male', 'Item_Purchased': 'Jeans', 'Category': 'Clothing', 'Purchase_Amount': 73, 'Location': 'Massachusetts', 'Size': 'S', 'Color': 'Maroon', 'Season': 'Spring', 'Review_Rating': 3.1, 'Subscription_Status': 'Yes', 'Shipping_Type': 'Free Shipping', 'Discount_Applied': 'Yes', 'Previous_Purchases': 23, 'Payment_Method': 'Credit Card', 'Frequency_of_Purchases': 'Weekly', 'Age_Group': 'Middle-Aged', 'Purchase_Frequency_days': 7}, {'Customer_ID': 4, 'Age': 21, 'Gender': 'Male', 'Item_Purchased': 'Sandals', 'Category': 'Footwear', 'Purchase_Amount': 90, 'Location': 'Rhode Island', 'Size': 'M', 'Color': 'Maroon', 'Season': 'Spring', 'Review_Rating': 3.5, 'Subscription_Status': 'Yes', 'Shipping_Type': 'Next Day Air', 'Discount_Applied': 'Yes', 'Previous_Purchases': 49, 'Payment_Method': 'PayPal', 'Frequency_of_Purchases': 'Weekly', 'Age_Group': 'Young Adult', 'Purchase_Frequency_days': 7}, {'Customer_ID': 5, 'Age': 45, 'Gender': 'Male', 'Item_Purchased': 'Blouse', 'Category': 'Clothing', 'Purchase_Amount': 49, 'Location': 'Oregon', 'Size': 'M', 'Color': 'Turquoise', 'Season': 'Spring', 'Review_Rating': 2.7, 'Subscription_Status': 'Yes', 'Shipping_Type': 'Free Shipping', 'Discount_Applied': 'Yes', 'Previous_Purchases': 31, 'Payment_Method': 'PayPal', 'Frequency_of_Purchases': 'Annually', 'Age_Group': 'Middle-Aged', 'Purchase_Frequency_days': 365}, {'Customer_ID': 6, 'Age': 46, 'Gender': 'Male', 'Item_Purchased': 'Sneakers', 'Category': 'Footwear', 'Purchase_Amount': 20, 'Location': 'Wyoming', 'Size': 'M', 'Color': 'White', 'Season': 'Summer', 'Review_Rating': 2.9, 'Subscription_Status': 'Yes', 'Shipping_Type': 'Standard', 'Discount_Applied': 'Yes', 'Previous_Purchases': 14, 'Payment_Method': 'Venmo', 'Frequency_of_Purchases': 'Weekly', 'Age_Group': 'Middle-Aged', 'Purchase_Frequency_days': 7}, {'Customer_ID': 7, 'Age': 63, 'Gender': 'Male', 'Item_Purchased': 'Shirt', 'Category': 'Clothing', 'Purchase_Amount': 85, 'Location': 'Montana', 'Size': 'M', 'Color': 'Gray', 'Season': 'Fall', 'Review_Rating': 3.2, 'Subscription_Status': 'Yes', 'Shipping_Type': 'Free Shipping', 'Discount_Applied': 'Yes', 'Previous_Purchases': 49, 'Payment_Method': 'Cash', 'Frequency_of_Purchases': 'Quarterly', 'Age_Group': 'Senior', 'Purchase_Frequency_days': 90}, {'Customer_ID': 8, 'Age': 27, 'Gender': 'Male', 'Item_Purchased': 'Shorts', 'Category': 'Clothing', 'Purchase_Amount': 34, 'Location': 'Louisiana', 'Size': 'L', 'Color': 'Charcoal', 'Season': 'Winter', 'Review_Rating': 3.2, 'Subscription_Status': 'Yes', 'Shipping_Type': 'Free Shipping', 'Discount_Applied': 'Yes', 'Previous_Purchases': 19, 'Payment_Method': 'Credit Card', 'Frequency_of_Purchases': 'Weekly', 'Age_Group': 'Young Adult', 'Purchase_Frequency_days': 7}  ... displaying 10 of 3900 total bound parameter sets ...  {'Customer_ID': 3899, 'Age': 44, 'Gender': 'Female', 'Item_Purchased': 'Shoes', 'Category': 'Footwear', 'Purchase_Amount': 77, 'Location': 'Minnesota', 'Size': 'S', 'Color': 'Brown', 'Season': 'Summer', 'Review_Rating': 3.8, 'Subscription_Status': 'No', 'Shipping_Type': 'Express', 'Discount_Applied': 'No', 'Previous_Purchases': 24, 'Payment_Method': 'Venmo', 'Frequency_of_Purchases': 'Weekly', 'Age_Group': 'Adult', 'Purchase_Frequency_days': 7}, {'Customer_ID': 3900, 'Age': 52, 'Gender': 'Female', 'Item_Purchased': 'Handbag', 'Category': 'Accessories', 'Purchase_Amount': 81, 'Location': 'California', 'Size': 'M', 'Color': 'Beige', 'Season': 'Spring', 'Review_Rating': 3.1, 'Subscription_Status': 'No', 'Shipping_Type': 'Store Pickup', 'Discount_Applied': 'No', 'Previous_Purchases': 33, 'Payment_Method': 'Venmo', 'Frequency_of_Purchases': 'Quarterly', 'Age_Group': 'Middle-Aged', 'Purchase_Frequency_days': 90}]
2025-11-30 13:19:52,646 INFO sqlalchemy.engine.Engine COMMIT
Data Successfully loaded into table'customer' in database'Customer_Behavior'.